body {
	background-color: #333;
}

.menu {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 5;
	width: 78%;
	height: 80%;
	background-color: grey;
}

.main {
	display: none;
	font-size: 3em;
	font-family: arial;
	text-align: center;
	padding: 3em;
	background-image: url('imgs/wizardtower.png');
	background-repeat: no-repeat;
	background-position: center;
}
.main > div {
	margin: 40px;
	cursor: pointer;
	color: white;
}
.main > div:hover {
	color: yellow;
}
.main > .audio {
	position: absolute;
	margin: 0;
	right: 10px;
	top: 10px;
	width: 30px;
	height: 25px;
	display: block;
}

.credits {
	display: none;
	font-size: 2em;
	font-family: arial;
	text-align: center;
	padding: 2em;
	background-image: url('imgs/gate.png');
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	height: 80%;
}

.art {
	position: absolute;
	left: 50px;
}
.music {
	position: absolute;
	right: 50px;
}
.back {
	position: absolute;
	bottom: 50px;
	left: 50px;
	cursor: pointer;
}

.credits a {
	color: white;
	text-decoration: none;
}

.credits h3 {
	font-weight: 600;
	text-decoration: underline;
}

.sound-on {
	width: 30px;
	height: 25px;
	background-image: url('imgs/soundOn.png');
	background-repeat: no-repeat;
}

.sound-off {
	width: 30px;
	height: 25px;
	display: none;
	background-image: url('imgs/soundOff.png');
	background-repeat: no-repeat;
}

.progress {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 240px;
	margin-left: -125px;
}
#percent {
	position: absolute;
	left: 100px;
}
#p {
	width: 250px;
}

.ui_element{
	position: absolute;
	background-color: #575757;
	padding: 10px;
	border: 1px solid black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-align: center;
	cursor: default;
	width: 130px;
}
.actions_left{
	top: 450px;
	left: 465px;
}
.current_turn{
	top:450px;
	left:305;
}
.ui_value{
	font-family: verdana, sans-serif;
	color: #DE5A18;
	font-size: 40px;
	font-weight: bold;
	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: black;
}
.info{
	font-family: helvetica, sans-serif;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
}
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
canvas {
	margin: 25px;
	border: 1px solid black;
	float: left;
}
.buttons {
	position: absolute;
	top: 130px;
	right: 100px;
}
button {
	padding: 10px;
	background: gray;
	border: 1px solid black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 13px;
	cursor: pointer;
}
.button.active {
	border: 1px solid red;
	background: LightGray;
}